body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.masthead {
  height: 100vh;
  min-height: 200px;
  max-height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-title {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.film-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('./images/film.jpg');
}

.people-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('./images/people.jpg');
}

.planet-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('./images/planet.jpg');
}

/* Make the image fully responsive */
.carousel-inner img {
  /* width: 100%;
  height: 100%; */
}

.slider-css {
  width: 100%;
  height: 100vh;
  min-height: 350px;
  max-height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
